include ./header.pug

button.new Create New Lost Item
.table-container 
    table.styled-table
        thead
            tr
            th Item ID
            th Item Name
            th Item Description
            th Date Located
            th Location Found
            th Category
        tbody
            tr
            td 123
            td Headphones
            td Beats, Black
            td 10-31-2021
            td Dunham Hall
            td Electronics
            tr
            td 124
            td Backpack
            td Under Armour Blue
            td 11-04-2021
            td Institude of Collaboration
            td Apparel 
            tr
            td 125
            td Ring
            td Gold, with Diamond
            td 11-16-2021
            td Dunham
            td Apparel




include ./footer.pug