include ./header.pug
script 


button.new-item Create New Lost Item
.table-container 
    table.styled-table
        thead
            tr
            th Item ID
            th Item Name
            th Item Description
            th Date Located
            th Location Found
            th Category
            th Item Status 
            th Item Value 
            th Report ID 
            th Finder ID 
            th Claimer ID 
            th Donated 
            th Date Claimed
        tbody




include ./footer.pug