include ./header.pug

button.new-item Create New Lost Item
.table-container 
    table.styled-table
        thead
            tr
            th Item ID
            th Item Name
            th Item Description
            th Date Located
            th Location Found
            th Category
        tbody
            




include ./footer.pug