doctype html
html(lang='en')


h1.itemSub Enter Item Information 

form.login-style(action='/itemPOST' method='POST')
    input#floatingInput.form-control(type='text' placeholder='Ex: ' name='' required='')
    input#floatingInput.form-control(type='text' placeholder='Ex: ' name='username' required='')