doctype html
html(lang='en')

h1.itemSub(style='margin:auto; text-align:center') ENTER NEW FINDER'S INFO
    h2(style='margin:auto; text-align:center') Only create new finder if they do not already exist 
      form.login-style(style='max-width:400px; margin:auto' action='/newFinder' method='POST')
        .form-group
            label(for='') Finder's First Name:
            input.form-control(type='text' name='finderFName')
        .form-group
            label(for='') Finder's Last Name:
            input.form-control(type='text' name='finderLName')
        .form-group
            label(for='') Finder's ID(student id if possible):
            input.form-control(type='text' name='finderID')
        .form-group
            label(for='') Finder's Phone:
            input.form-control(type='text' name='phoneNum')
        button.sign-in(type='submit') Add Finder


br
br
h1.itemSub(style='margin:auto; text-align:center') Enter New Item Information 

form.login-style(style='max-width:400px; margin:auto' action='/newItem' method='POST')
  .form-group
    label(for='') Item name:
    input.form-control(type='text' name='itemName')
  .form-group
    label(for='') Date Found:
    input.form-control(type='date' name='dateFound')
  .form-group
    label(for='') Item Category
    input.form-control(type='text' name='itemCat')
  .form-group
    label(for='') Describe the item:
    textarea(cols='54' rows='4' name='description')
  .form-group
    label(for='') Location Found:
    input.form-control(type='text' name='locationFound')
  .form-group
    label(for='') Location Details:
    textarea(type='text' name='locationDetails')
  .form-group
    label(for='') Item value:
    input.form-control(type='text' name='itemValue')
  .form-group 
    label(for='') Item Status:
    input.form-control(type='text' name='itemStatus')
            .form-group
            label(for='') Finder's ID(student id if possible):
            input.form-control(type='text' name='finderID')
  button.sign-in(type='submit') Add Item