doctype html
html(lang='en')


h1.itemSub Enter Item Information 

form.login-style(action='/itemPOST' method='POST')
    input#floatingInput.form-control(type='email' placeholder='name@example.com' name='username' required='')
    input#floatingInput.form-control(type='email' placeholder='name@example.com' name='username' required='' autofocus)