include ./header.pug

script.
  var array = []
  $.ajax({
  method: 'GET',
  url: 'http://localhost:8080/lostItemUser',
  success: function(response){
  array = response;
  buildTable(array)
  console.log(array)
  }
  })
  function buildTable(data){
  var table = document.getElementById('myTable2');
  for(var i = 0; i < data.length; i++){
    var row = `<tr>
    <td>${data[i].ItemID}</td>
    <td>${data[i].itemName}</td>
    <td>${moment(data[i].DateFound).format('MM/DD/YYYY')}</td>
    <td>${data[i].ItemCategory}</td>
    </tr>`;
    table.innerHTML += row;
  }
  }


.table-container 
    table.styled-table
        thead
            tr
            th Item ID
            th Item Name
            th Date Located
            th Category
        tbody#myTable



include ./footer.pug