include ./header.pug

.table-container 
    table.styled-table
        thead
            tr
            th Item ID
            th Item Name
            th Date Located
            th Category
        tbody



include ./footer.pug