include ./header.pug

.table-container
    table.styled-table
        thead
            tr
            th Name
            th Points
        tbody
            tr
            td Dom
            td 6000
            tr.active-row
            td Melissa
            td 5150



include ./footer.pug