include ./header.pug

.table-container 
    table.styled-table
        thead
            tr
            th Item ID
            th Item Name
            th Date Located
        tbody
            tr
            td 123
            td Pencil
            td 10-31-2021
            tr.active-row
            td 124
            td Melissa
            td 5150
            tr
            td 125
            td 
            td



include ./footer.pug