include ./header.pug

.table-container 
    table.styled-table
        thead
            tr
            th Item ID
            th Item Name
            th Date Located
        tbody
            tr
            td Dom
            td 6000
            td 
            tr.active-row
            td Melissa
            td 5150
            tr
            td 
            td



include ./footer.pug