/*Footer CSS*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;            /* Footer height */
  }


/*Login CSS*/
  body.text-center{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
   
  }
  .form-floating{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  input#floatingInput.form-control{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  input#floatingPassword.form-control{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  button.sign-in{
    display:inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-align: none;
    font-weight: 400;
    color: yellow;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align: center;
    position: relative;

  }
