/*Styles for the login page*/
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.text

#inputEmail{
    width: 20%;
}

#inputPassword{
    width: 20%;
}

#signInButton{
    width:20%;
}