include ./header.pug

.table-container 
    table.styled-table
        thead
            tr
            th Item ID
            th Item Name
            th Date Located
            th Category
        tbody
            tr
            td 123
            td Headphones
            td 10-31-2021
            td Electronics
            tr
            td 124
            td Backpack
            td 11-04-2021
            td Apparel 
            tr
            td 125
            td Ring
            td 11-16-2021
            td Apparel



include ./footer.pug